// // Variable overrides second
$black: #002329; // rgb(0, 35, 41)
$white: #ffffff; // rgb(255, 255, 255)
$light-gray: #ECECEC; // #ECECEC
$gray: #818181; // #818181
$dark-gray: #234146; // rgb(35, 65, 70)
$orange: #e35728; // rgb(227, 87, 40)
$blue: #0ec7e7; // rgb(14, 199, 231)

$border-gray: #DADADA;
$border-light-gray: #ECECEC;

$back-gray: #F5F5F5;

$enable-shadows: true;
$prefix: "bbvc-";

$container-max-widths: (
  xxxs: 100%,
  xxs: 100%,
  xs: 100%,
  sm: 480px,
  md: 714px,
  lg: 930px,
  xl: 1290px
);

$grid-breakpoints: (
  xxxs: 0,
  xxs: 360px,
  xs: 480px,
  sm: 576px,
  md: 768px,
  lg: 991px,
  xl: 1321px,
  xxl: 1920px,
);

$grid-gutter-width: 1.5rem;
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  20px: 20px,
  30px: 30px
);
$gutters: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  20px: 20px,
);