.account-types {
    .container {
        @media (max-width: 991px) {
            max-width: 100%;
            padding: 0;
            
            .title-group__wrapper {
                margin-left: 40px;
                margin-right: 40px;
            }
        }

        @media (max-width: 767px) {
            .title-group__wrapper {
                margin-left: 15px;
                margin-right: 15px;
            }
        }
    }

    &__slider {
        .splide__list {
            display: flex !important;
            justify-content: space-between;
            align-items: center;
            align-items: stretch;

            .splide__slide {
                width: calc((100% - (24px * 2)) / 3);
            }
        }
    }

    @media (max-width: 991px)  {
        &__slider {
            .splide__list {
                .splide__slide {
                    width: 300px;
                    max-width: calc(100% - 15px);
                }
            }
        }
    }
}