.banner {
    &__box {
        padding: 66px 100px;
        border-radius: 40px;
    }

    .title-group {
        max-width: 480px;
        margin-bottom: 20px;

        .text {
            font-size: 20px;
        }
    }

    &--orange {
        background-color: $orange;
        background-image: url('/images/banner/banner-bg.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right center;
    }

    &--black {
        background-color: $black;
        background-image: url('/images/banner/banner-2-bg.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right bottom;
    }

    &--settings {
        background-color: $black;
        background-image: url('/images/banner/banner-3-bg.png');
        background-size: 500px;
        background-repeat: no-repeat;
        background-position: right bottom;
        padding: 70px;
    }

    @media (max-width: 1320px) {
        &__box {
            padding: 60px 60px;
        }

        .title-group {
            max-width: 380px;
        }

        &--settings {
            padding: 60px;
        }
    }
    
    @media (max-width: 991px) {
        &--orange {
            padding: 60px 50px;
        }

        &--black {
            background-size: 400px;
            padding: 60px 50px 430px 50px;

            .title-group {
                max-width: 100%;
                margin-bottom: 20px;
            }
        }

        &--settings {
            background-size: 490px;
            padding: 60px 60px 400px 60px;

            .title-group {
                max-width: 100%;
                margin-bottom: 20px;
            }
        }
    }

    @media (max-width: 768px) {
        .title-group {
            max-width: 100%;
        }

        &__box {
            background-size: 227px;
            background-repeat: no-repeat;
            background-position: right bottom;
        }

        &--orange {
            background-color: $orange;
            background-image: url('/images/banner/banner-bg-mobile.png');
            padding: 40px 25px 90px 25px;
        }

        &--black {
            background-size: 300px;
            padding: 40px 25px 330px 25px;
        }

        &--settings {
            background-size: 490px;
            padding: 40px 25px 400px 25px;
        }
    }

    @media (max-width: 480px) {
        .title-group {
            .text {
                font-size: 16px;
            }
        }

        &--black {
            background-size: 210px;
            padding-bottom: 240px;
        }

        &--settings {
            background-size: 330px;
            padding-bottom: 270px;
        }
    }
}