.hero {
    padding-top: 110px;
    padding-bottom: 0;

    &-variables {
        position: absolute;
        bottom: -100px;
        left: 12px;
        right: 12px;
        padding: 70px 50px;
        background-color: $white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 2px solid $border-light-gray;
        border-radius: 30px;
        width: calc(100% - 24px);

        &__item {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
    }

    .title-group {
        margin-bottom: 0;

        .title {
            font-size: 70px;
            line-height: 110%;
            font-weight: 400;
            letter-spacing: -2px;
        }

        .title--md {
            font-size: 50px;
            line-height: 110%;
            font-weight: 400;
            letter-spacing: -2px;
        }

        .subtitle {
            font-size: 20px;
            line-height: 120%;
            font-weight: 400;
        }

        .text {
            font-size: 20px;
            line-height: 120%;
            font-weight: 400;
            margin-top: 30px;
        }

        .btn {
            margin-top: 30px;
        }
    }

    &.main-hero {
        background-color: $black;
        background-image: url('/images/hero/main-hero-bg.png');
        background-repeat: no-repeat;
        background-position: calc(50% + 400px) bottom;
        padding-top: 210px;
        padding-bottom: 268px;
        margin-bottom: 110px;

        .title-group {
            .text {
                margin-top: 30px;
            }

            .btn {
                margin-top: 30px;
            }
        }
    }

    &.trading-hero {
        background-color: $black;
        background-image: url('/images/hero/tradings-hero-bg.png');
        background-repeat: no-repeat;
        background-position: calc(50% + 300px) bottom;
        background-size: contain;
        padding-top: 110px;
        padding-bottom: 110px;
    }

    &.account-types-hero {
        background-color: $black;
        background-image: url('/images/hero/account-types-hero-bg.png');
        background-repeat: no-repeat;
        background-position: calc(50% + 300px) bottom;
        background-size: contain;
        padding-top: 110px;
        padding-bottom: 110px;
    }

    &.forex-trading-hero {
        background-color: $black;
        background-image: url('/images/hero/forex-trading-hero-bg.png');
        background-repeat: no-repeat;
        background-position: calc(50% + 300px) bottom;
        background-size: contain;
        padding-top: 110px;
        padding-bottom: 110px;
    }

    &.futures-trading-hero {
        background-color: $black;
        background-image: url('/images/hero/futures-trading-hero-bg.png');
        background-repeat: no-repeat;
        background-position: calc(50% + 300px) bottom;
        background-size: contain;
        padding-top: 110px;
        padding-bottom: 110px;
    }

    &.spot-indices-hero {
        background-color: $black;
        background-image: url('/images/hero/spot-indices-hero-bg.png');
        background-repeat: no-repeat;
        background-position: calc(50% + 300px) bottom;
        background-size: contain;
        padding-top: 110px;
        padding-bottom: 110px;
    }

    &.shares-and-stocks-hero {
        background-color: $black;
        background-image: url('/images/hero/shares-and-stocks-hero-bg.png');
        background-repeat: no-repeat;
        background-position: calc(50% + 300px) bottom;
        background-size: contain;
        padding-top: 110px;
        padding-bottom: 110px;
    }

    &.precious-metals-hero {
        background-color: $black;
        background-image: url('/images/hero/precious-metals-hero-bg.png');
        background-repeat: no-repeat;
        background-position: calc(50% + 300px) bottom;
        background-size: contain;
        padding-top: 110px;
        padding-bottom: 110px;
    }

    &.cfds-on-energy-hero {
        background-color: $black;
        background-image: url('/images/hero/cfds-on-energy-hero-bg.png');
        background-repeat: no-repeat;
        background-position: calc(50% + 300px) bottom;
        background-size: contain;
        padding-top: 110px;
        padding-bottom: 110px;
    }

    &.ndd-execution-hero {
        background-color: $black;
        background-image: url('/images/hero/ndd-execution-hero-bg.png');
        background-repeat: no-repeat;
        background-position: calc(50% + 300px) bottom;
        background-size: contain;
        padding-top: 160px;
        padding-bottom: 160px;
    }

    &.economic-calendar-hero {
        background-color: $black;
        background-image: url('/images/hero/economic-calendar-hero-bg.png');
        background-repeat: no-repeat;
        background-position: calc(50% + 300px) bottom;
        background-size: contain;
        padding-top: 160px;
        padding-bottom: 160px;
    }

    &.payment-methods-hero {
        background-color: $black;
        background-image: url('/images/hero/payment-methods-hero-bg.png');
        background-repeat: no-repeat;
        background-position: calc(50% + 300px) bottom;
        background-size: contain;
        padding-top: 160px;
        padding-bottom: 160px;
    }

    &.credit-rating-hero {
        background-color: $black;
        background-image: url('/images/hero/credit-rating-hero-bg.png');
        background-repeat: no-repeat;
        background-position: calc(50% + 300px) bottom;
        background-size: contain;
        padding-top: 160px;
        padding-bottom: 160px;
    }

    &.about-hero {
        background-color: $black;
        background-image: url('/images/hero/about-hero-bg.png');
        background-repeat: no-repeat;
        background-position: calc(50% + 300px) bottom;
        background-size: contain;
        padding-top: 160px;
        padding-bottom: 160px;
    }

    &.trading-tools-hero {
        background-color: $black;
        background-image: url('/images/hero/trading-tools-hero-bg.png');
        background-repeat: no-repeat;
        background-position: calc(50% + 300px) bottom;
        background-size: contain;
        padding-top: 160px;
        padding-bottom: 160px;
    }

    &.market-analysis-hero {
        background-color: $black;
        background-image: url('/images/hero/market-analysis-hero-bg.png');
        background-repeat: no-repeat;
        background-position: calc(50% + 300px) bottom;
        background-size: contain;
        padding-top: 160px;
        padding-bottom: 160px;
    }

    &.register-hero {
        background-color: $black;
        background-image: url('/images/hero/register-hero-bg.png');
        background-repeat: no-repeat;
        background-position: calc(50% + 300px) bottom;
        background-size: contain;
        padding-top: 160px;
        padding-bottom: 160px;
    }
 
    @media (max-width: 1320px) {
        &.main-hero {
            padding-top: 140px;
            padding-bottom: 140px;
            margin-bottom: 170px;
            background-position: calc(50% + 300px) bottom;
            background-size: 870px;
        }

        &.trading-hero {
            background-position: calc(50% + 330px) bottom;
            background-size: contain;
            padding-top: 60px;
            padding-bottom: 60px;
        }

        &.account-types-hero {
            background-position: calc(50% + 330px) bottom;
            background-size: contain;
            padding-top: 60px;
            padding-bottom: 60px;
        }

        &.futures-trading-hero {
            background-position: calc(50% + 330px) bottom;
            background-size: contain;
            padding-top: 60px;
            padding-bottom: 60px;
        }

        &.spot-indices-hero {
            background-position: calc(50% + 330px) bottom;
            background-size: contain;
            padding-top: 60px;
            padding-bottom: 60px;
        }

        &.shares-and-stocks-hero {
            background-position: calc(50% + 330px) bottom;
            background-size: contain;
            padding-top: 60px;
            padding-bottom: 60px;
        }
    
        &.precious-metals-hero {
            background-position: calc(50% + 330px) bottom;
            background-size: contain;
            padding-top: 60px;
            padding-bottom: 60px;
        }

        &.cfds-on-energy-hero {
            background-position: calc(50% + 330px) bottom;
            background-size: contain;
            padding-top: 60px;
            padding-bottom: 60px;
        }

        &.economic-calendar-hero {
            background-position: calc(50% + 330px) bottom;
            background-size: contain;
            padding-top: 60px;
            padding-bottom: 60px;
        }

        &.payment-methods-hero {
            background-position: calc(50% + 330px) bottom;
            background-size: contain;
            padding-top: 60px;
            padding-bottom: 60px;
        }

        &.credit-rating-hero {
            background-position: calc(50% + 330px) bottom;
            background-size: contain;
            padding-top: 60px;
            padding-bottom: 60px;
        }

        &.about-hero {
            background-position: calc(50% + 330px) bottom;
            background-size: contain;
            padding-top: 60px;
            padding-bottom: 60px;
        }

        &.trading-tools-hero {
            background-position: calc(50% + 330px) bottom;
            background-size: contain;
            padding-top: 60px;
            padding-bottom: 60px;
        }

        &.market-analysis-hero {
            background-position: calc(50% + 330px) bottom;
            background-size: contain;
            padding-top: 60px;
            padding-bottom: 60px;
        }

        &.register-hero {
            background-position: calc(50% + 330px) bottom;
            background-size: contain;
            padding-top: 60px;
            padding-bottom: 60px;
        }

        .title-group {
            .text {
                margin-top: 20px;
            }
    
            .btn {
                margin-top: 20px;
            }
        }
    }

    @media (max-width: 991px) {
        &-variables {
            padding: 50px 30px;
        }

        &.main-hero {
            padding-top: 90px;
            padding-bottom: 490px;
            margin-bottom: 120px;
            background-position: center bottom;
            background-size: 820px;
        }

        &.trading-hero {
            background-image: url('/images/hero/tradings-hero-bg-mobile.png');
            background-position: right bottom;
            background-size: 770px;
            padding-top: 80px;
            padding-bottom: 420px;
        }

        &.account-types-hero {
            background-position: center bottom;
            background-size: 600px;
            padding-top: 80px;
            padding-bottom: 400px;
        }

        &.forex-trading-hero {
            background-image: url('/images/hero/forex-trading-hero-bg-mobile.png');
            background-position: center bottom;
            background-size: 600px;
            padding-top: 80px;
            padding-bottom: 420px;
        }

        &.futures-trading-hero {
            background-position: center bottom;
            background-size: 600px;
            padding-top: 80px;
            padding-bottom: 540px;
        }

        &.spot-indices-hero {
            background-position: center bottom;
            background-size: 600px;
            padding-top: 80px;
            padding-bottom: 420px;
        }

        &.shares-and-stocks-hero {
            background-position: center bottom;
            background-size: 600px;
            padding-top: 80px;
            padding-bottom: 420px;
        }
    
        &.precious-metals-hero {
            background-position: center bottom;
            background-size: 600px;
            padding-top: 80px;
            padding-bottom: 420px;
        }

        &.cfds-on-energy-hero {
            background-position: center bottom;
            background-size: 600px;
            padding-top: 80px;
            padding-bottom: 420px;
        }

        &.economic-calendar-hero {
            background-position: right bottom;
            background-size: 600px;
            padding-top: 80px;
            padding-bottom: 350px;
        }

        &.payment-methods-hero {
            background-position: right bottom;
            background-size: 600px;
            padding-top: 80px;
            padding-bottom: 350px;
        }

        &.credit-rating-hero {
            background-position: center bottom;
            background-size: 600px;
            padding-top: 80px;
            padding-bottom: 350px;
        }

        &.about-hero {
            background-position: center bottom;
            background-size: 600px;
            padding-top: 80px;
            padding-bottom: 350px;
        }

        &.trading-tools-hero {
            background-position: center bottom;
            background-size: 600px;
            padding-top: 80px;
            padding-bottom: 350px;
        }

        &.market-analysis-hero {
            background-position: center bottom;
            background-size: 600px;
            padding-top: 80px;
            padding-bottom: 350px;
        }

        &.register-hero {
            background-position: center bottom;
            background-size: 600px;
            padding-top: 80px;
            padding-bottom: 350px;
        }
    }

    @media (max-width: 768px) {
        .title-group {
            .title {
                font-size: 55px;
            }
    
            .subtitle {
                font-size: 16px;
            }
    
            .text {
                font-size: 20px;
            }
        }

        &.main-hero {
            padding-top: 70px;
            padding-bottom: 330px;
            margin-bottom: 200px;
            background-position: center bottom;
            background-size: 480px;
        }

        &.trading-hero {
            background-size: 480px;
            padding-top: 70px;
            padding-bottom: 240px;
        }

        &.account-types-hero {
            background-size: 480px;
            padding-top: 70px;
            padding-bottom: 300px;
        }

        &.futures-trading-hero {
            background-size: 480px;
            padding-top: 70px;
            padding-bottom: 340px;
        }

        &.spot-indices-hero {
            background-size: 480px;
            padding-top: 70px;
            padding-bottom: 340px;
        }

        &.shares-and-stocks-hero {
            background-size: 480px;
            padding-top: 70px;
            padding-bottom: 340px;
        }
    
        &.precious-metals-hero {
            background-size: 480px;
            padding-top: 70px;
            padding-bottom: 340px;
        }

        &.cfds-on-energy-hero {
            background-size: 480px;
            padding-top: 70px;
            padding-bottom: 340px;
        }

        &.economic-calendar-hero {
            background-size: 480px;
            padding-top: 70px;
            padding-bottom: 250px;
            background-position: calc(100% + 50px) bottom;
        }

        &.payment-methods-hero {
            background-size: 480px;
            padding-top: 70px;
            padding-bottom: 340px;
        }

        &.credit-rating-hero {
            background-size: 480px;
            padding-top: 70px;
            padding-bottom: 340px;
        }

        &.about-hero {
            background-size: 480px;
            padding-top: 70px;
            padding-bottom: 340px;
        }

        &.trading-tools-hero {
            background-size: 480px;
            padding-top: 70px;
            padding-bottom: 340px;
        }

        &.market-analysis-hero {
            background-size: 480px;
            padding-top: 70px;
            padding-bottom: 340px;
        }

        &.register-hero {
            background-size: 480px;
            padding-top: 70px;
            padding-bottom: 340px;
        }

        &-variables {
            bottom: -200px;
            padding: 50px 30px;
            flex-wrap: wrap;
            row-gap: 20px;
            column-gap: 10px;

            &__item {
                width: calc(50% - 10px);
            }
        }
    }

    @media (max-width: 480px) {
        .title-group {
            .title {
                font-size: 40px;
            }

            .title--md {
                font-size: 36px;
            }
    
            .text {
                font-size: 16px;
            }
        }

        &.trading-hero {
            background-size: 400px;
        }
    }

    @media (max-width: 360px) {
        &-variables {
            padding: 30px 20px;
            flex-wrap: wrap;
            gap: 10px;
            bottom: -200px;

            &__item {
                width: 100%;
            }
        }
    }
}