.hero {
    padding-top: 110px;
    padding-bottom: 0;

    &.main-hero {
        background-color: $black;
        background-image: url('/images/hero/main-hero-bg.png');
        background-repeat: no-repeat;
        background-position: calc(50% + 400px) bottom;
        padding-top: 210px;
        padding-bottom: 268px;
        margin-bottom: 260px;

        .title-group {
            .title {
                margin-bottom: 30px;
            }

            .text {
                margin-bottom: 30px;
            }
        }
    }

    // &.trading-hero {
    //     background-image: url(/images/hero/tradings-hero-bg.png);
    //     background-repeat: no-repeat;
    //     background-position: calc(50% + 300px) bottom;
    // }

    @media (max-width: 1320px) {
        &.main-hero {
            padding-top: 140px;
            padding-bottom: 140px;
            margin-bottom: 320px;
            background-position: calc(50% + 300px) bottom;
            background-size: 870px;
        }
    }

    @media (max-width: 991px) {
        &.main-hero {
            padding-top: 90px;
            padding-bottom: 490px;
            margin-bottom: 270px;
            background-position: center bottom;
            background-size: 820px;
        }
    }

    @media (max-width: 768px) {
        &.main-hero {
            padding-top: 70px;
            padding-bottom: 330px;
            margin-bottom: 320px;
            background-position: center bottom;
            background-size: 480px;
        }
    }

    @media (max-width: 480px) {

    }
}