.pamm-info {
    &-desktop {
        display: block;
        width: 100%;
    }

    &-mobile {
        display: none;
        width: 100%;    
    }

    @media (max-width: 991px) {
        // &.section {
        //     padding-bottom: 20px;
        // }   

        // &-desktop {
        //     display: none;
        // }
    
        // &-mobile {
        //     display: block;  
        // }
    }
}