.partner {
    &-wrapper {
        position: relative;
    }

    &-row {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 30px;
        border-radius: 30px;
        background-color: $back-gray;

        &-list {
            margin-top: 50px;
            display: flex;
            flex-direction: column;

            &--1 {
                row-gap: 130px;
            }

            &--2 {
                row-gap: 50px;
            }
        }

        &__item {
            display: flex;
            flex-direction: column;
            gap: 30px;
            width: calc((100% - 530px) / 2);

            &__head {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 15px;

                &--icon {
                    flex-shrink: 0;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &.-orange {
                        background-color: $orange;
                    }

                    &.-lg {
                        width: 50px;
                        height: 50px;
                    }
                    &.-md {
                        width: 40px;
                        height: 40px;
                    }
                }
            }

            &.-left {
                .partner-row__item__head {
                    justify-content: flex-start;
                }
            }

            &.-right {
                .partner-row__item__head {
                    justify-content: flex-end;
                }
            }
        }
    }

    &-image {
        &--1 {
            width: 420px;
            position: absolute;
            top: -80px;
            left: calc(50% - 210px);
        }

        &--2 {
            width: 1000px;
            position: absolute;
            top: -65px;
            left: calc(50% - 500px);
        }
    }

    @media (max-width: 1320px) {
        &-row {
            &__item {
                width: calc((100% - 380px) / 2);
            }
        }

        &-image {
            &--1 {
                width: 360px;
                top: -70px;
                left: calc(50% - 180px);
            }

            &--2 {
                width: 580px;
                position: absolute;
                top: -65px;
                left: calc(50% - 290px);
            }
        }
    }

    @media (max-width: 991px) {
        &-row {
            flex-direction: column;
            padding: 0;

            &-list {
                row-gap: 0;
            }

            &__item {
                width: calc(100% - 360px);
                padding: 20px;
                gap: 20px;

                &.-left {
                    .partner-row__item__head {
                        justify-content: flex-start;
                    }
                }

                &.-right {
                    .partner-row__item__head {
                        justify-content: flex-start;
                    }
                }
            }

            &:not(:first-child) {
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }

            &:not(:last-child) {
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }
        }

        &-image {
            &--1 {
                width: 360px;
                top: -70px;
                left: calc(100% - 360px);
            }

            &--2 {
                width: 580px;
                top: 105px;
                left: auto;
                right: 0;
            }
        }
    }

    @media (max-width: 768px) {
        &-row {
            &-list {
                margin-bottom: 50px;
            }

            &__item {
                width: 100%;
            }
        }

        &-image {
            &--1 {
                position: static;
                margin: 0 auto;
                width: 290px;
                max-width: calc(100% - 40px);
            }

            &--2 {
                position: static;
                margin: 0 auto;
                width: 100%;
                max-width: 100%;
            }
        }
    }

    @media (max-width: 480px) {}
}