.shares {
    background-color: $black;
    background-image: url('/images/globe.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 820px;

    &--gray {
        background-color: $back-gray;
        background-image: url('/images/globe-3.png'); 
        padding-top: 90px;
        padding-bottom: 90px;
    }

    @media (max-width: 1320px) {
        background-size: 500px;
    }

    @media (max-width: 1320px) {
        padding-bottom: 250px;
        background-position: center calc(100% + 120px);
        background-size: 560px;
    }
}