.bg-block {
    &--lg {
        padding: 30px;
        border-radius: 30px;
    }

    &--extra-md {
        padding: 30px;
        border-radius: 20px;
    }

    &--md {
        padding: 20px 30px;
        border-radius: 30px;
    }

    &--sm {
        padding: 12px 10px;
        border-radius: 20px;
    }

    &--inline {
        display: inline-block;
    }

    &--light-gray {
        background-color: $back-gray;
    }

    &--dark-gray {
        background-color: $dark-gray;
    }

    &--orange {
        background-color: $orange;
    }

    ul {
        padding-left: 16px;
    }
    
    @media (max-width: 480px) {
        &--extra-md {
            padding: 20px;
        }
    }
}