.btn {
    border-radius: 30px;
    font-size: 16px;
    line-height: 120%;
    font-weight: 400;
    border-width: 0;
    padding: 20px;
    background-color: $orange;
    color: $white;

    &:hover, &:active, &:focus {
        background-color: darken($color: $orange, $amount: 10%) !important;
        color: $white !important;
    }

    &.btn--md {
        border-radius: 20px;
        padding: 10px 20px;
    }

    &.btn--arrow {
        position: relative;
        padding: 20px 76px 20px 20px;

        &::before {
            content: "";
            position: absolute;
            right: 4px;
            top: calc(50% - 26px);
            display: block;
            width: 52px;
            height: 52px;
            border-radius: 50%;
            background-color: $white;
            background-image: url("data:image/svg+xml,%3Csvg width='52' height='52' viewBox='0 0 52 52' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.6377 31.3622L30.6377 21.3622' stroke='%23E35728' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M31.3623 29.8301V20.6378H22.1699' stroke='%23E35728' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-position: center;
        }

        &.btn--icon-only {
            padding: 0;
            width: 60px;
            height: 60px;
        }
    }

    &.btn--black {
        background-color: $black;
    
        &:hover {
            background-color: lighten($color: $black, $amount: 10%);
        }

        &::before {
            background-image: url("data:image/svg+xml,%3Csvg width='52' height='52' viewBox='0 0 52 52' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.6377 31.3623L30.6377 21.3623' stroke='%23002329' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M31.3623 29.8301V20.6377H22.1699' stroke='%23002329' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        }
    }

    &.btn--white {
        background-color: $white;
        color: $black;
        border: 1px solid $orange;
    }

    &.btn--outline {
        background-color: $black;
        color: $orange;
        border: 1px solid $border-gray;

        &:hover {
            &::before {
                background-image: url("data:image/svg+xml,%3Csvg width='52' height='52' viewBox='0 0 52 52' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.6378 31.3633L30.6378 21.3633' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M31.3622 29.8291V20.6367H22.1699' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
            }
        }

        &::before {
            background-color: transparent;
            background-image: url("data:image/svg+xml,%3Csvg width='52' height='52' viewBox='0 0 52 52' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.6378 31.3633L30.6378 21.3633' stroke='%23E35728' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M31.3622 29.8291V20.6367H22.1699' stroke='%23E35728' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");

        }
    }   

    &.--from-header {
        min-height: 50px;
        padding: 13px 20px;
    }

    &:active {
        box-shadow: none !important;
    }

    @media (max-width: 480px) {
        &.-responsive {
            &.btn {
                width: 100%;
                text-align: center;
            }

            &.btn--arrow {
                padding: 20px 76px;
            }
        }
    }
}