.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    gap: 30px;
    padding: 30px;
    border: 1px solid rgb(219, 232, 238);
    border-radius: 15px;

    &__wrapper {
        width: 100%;
        height: 100%;
    }

    &__content {
        position: relative;
    }

    &--lg {
        gap: 20px;

        .card--title {
            margin-bottom: 144px;
        }
    }

    &--index {
        width: 60px;
        height: 60px;
        min-width: 60px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $orange;
        font-size: 30px;
        font-weight: 400;
        color: $white;
        padding-bottom: 4px;
    }

    &--icon {
        width: 50px;
        height: 50px;
        min-width: 50px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $orange;
    }

    &--title {
        margin-bottom: 10px;
    }

    &--black {
        background: radial-gradient(circle at 100% 93%, rgba(0, 35, 41, .3) 0%, $white 70%, $white 100%);

        .card--icon, .card--index {
            background-color: $black;
        }
    }

    &--orange {
        background: radial-gradient(circle at 100% 93%, rgba(227, 87, 40, .3) 0%, $white 70%, $white 100%);

        .card--icon, .card--index {
            background-color: $orange;
        }
    }

    &--blue {
        background: radial-gradient(circle at 100% 93%, rgba(14, 199, 231, .3) 0%, $white 70%, $white 100%);

        .card--icon, .card--index {
            background-color: $blue;
        }
    }

    @media (max-width: 1320px) {
        padding: 25px;
    }

    @media (max-width: 768px) {
        flex-direction: row;
        gap: 20px;

        &--lg {
            gap: 20px;
    
            .card--title {
                margin-bottom: 35px;
            }
        }
    }
}