.custom-table {
    display: flex;
    justify-content: space-between;

    &__desc {
        min-width: 220px;
        display: flex;
        flex-direction: column;

        li {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 10px;
            height: 70px;
            padding-left: 30px;
            cursor: pointer;

            img {
                max-width: 66px;
            }

            &.-active {
                // background-color: $primary-hovered;

                span {
                    color: white;
                }
            }

            &.custom-table__item--title {
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
            }

            &:nth-child(odd) {
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
                background-color: $back-gray;
            }
        }
    }

    &__types {
        display: flex;
        width: calc(100%);
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: calc(100%);

        &--title {
            height: 70px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
            margin-bottom: 10px;
            background-color: $orange !important;
            color: $white;
            padding-left: 10px;
            padding-right: 10px;
        }

        &--list {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            width: 100%;

            li {
                width: 100%;
                height: 70px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                column-gap: 10px;
                cursor: pointer;
                font-size: 16px;
                line-height: 140%;
                font-weight: 400;
                color: $black;
                padding-left: 10px;
                padding-right: 10px;
                text-align: left;

                &:nth-child(even) {
                    background-color: $back-gray;
                }
            }
        }

        &:last-child {
            .custom-table__item--title {
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
            }

            ul {
                li {
                    &:nth-child(even) {
                        border-top-right-radius: 10px;
                        border-bottom-right-radius: 10px;
                    }
                }
            }
        }
    }

    @media (max-width: 991px) {
        &__desc {
            min-width: 150px;
        }
    }

    @media (max-width: 768px) {
        &__desc {
            li {
                span {
                    font-size: 16px !important;
                }
            }
        }

        &__item {
            &--title {
                font-size: 16px !important;
            }

            &--list {
                li {
                    font-size: 16px !important;
                }
            }
        }

        &__types {
            overflow-x: scroll;
            scrollbar-width: none;
            display: grid;
            grid-template-columns: repeat(5, 120px);
        }
    }
}