.form-control {
    padding: 15px;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    border-radius: 15px;
    background-color: $white;
    resize: none;
    outline: none !important;
    box-shadow: none !important;
    border: 1px solid $border-gray !important;

    &:active, &:focus {
        border: 1px solid $border-gray !important;
        background-color: $white;
    }

    &::-webkit-scrollbar {
        display: none;
    }

    &-box {
        display: block;	
        position: relative;
    }

    &-message {
        display: none;
        width: 100%; 
        padding: 15px;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        font-size: 16px;
        font-weight: 550;
        line-height: 140%;
        color: $black;
        cursor: text;
        user-select: none;

        span {
            // color: $text-dark-blue
        }
    }
}

.form-label {
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
    color: $dark-gray;
    display: block;
    margin-bottom: 5px;
}

.form-control-box .form-control:invalid + .form-control-message {
	display: block;
}