.list {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &-item {
        padding: 39px 20px;
        border-radius: 15px;
        border: 1px solid #dbe8ee;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 20px;
        font-size: 18px;
        line-height: 120%;
        font-weight: 550;

        &__icon {
            flex-shrink: 0;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: $orange;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    @media (max-width: 1320px) {
        &-item {
            font-size: 16px;
            padding: 19px 20px;
        }
    }

    @media (max-width: 768px) {
        &-item {
            min-height: 100px;
        }
    }

    @media (max-width: 480px) {
        &-item {
            font-size: 14px;
            padding: 14px 15px;
            min-height: 75px;
            gap: 15px;
        }
    }
}