.list-marked {
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    gap: 10px;

    &-item {
        position: relative;

        &::before {
            content: '';
            display: block;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: $orange;
            position: absolute;
            left: -16px;
            top: 12px;
        }
    }

    @media (max-width: 1320px) {
  
    }

    @media (max-width: 576px) {
   
    }

    @media (max-width: 360px) {

    }
}