.text {
    &--extra-lg {
        font-size: 36px;
        line-height: 110%;
        font-weight: 400;
    }

    &--lg {
        font-size: 24px;
        line-height: 140%;
        font-weight: 400;
    }

    &--md {
        font-size: 20px;
        line-height: 120%;
        font-weight: 400;
    }

    &--sm {
        font-size: 16px;
        line-height: 140%;
        font-weight: 400;
    }

    @media (max-width: 1320px)  {
        &--lg {
            font-size: 20px;
        }

        &--md {
            font-size: 16px;
        }

        &--sm {
            font-size: 14px;  
        }
    }

    @media (max-width: 768px) {
        &--md {
            font-size: 14px;
        }
    }

    @media (max-width: 480px) {
        &--lg {
            font-size: 16px;
        }

        &--md {
            font-size: 14px;
        }
    }
}