.title {
    &--extra-lg {
        font-size: 80px;
        line-height: 110%;
        font-weight: 400;
    }

    &--lg {
        font-size: 60px;
        line-height: 110%;
        font-weight: 400;
    }

    &--sm {
        font-size: 40px;
        line-height: 110%;
        font-weight: 400;
    }

    &--white {
        color: $white;
    }

    &--black {
        color: $black;
    }

    &--gray {
        color: $gray;
    }

    @media (max-width: 1320px) {
        &--extra-lg {
            font-size: 70px;
        }

        &--lg {
            font-size: 50px;
        }
    
        &--sm {
            font-size: 30px;
        }
    }

    @media (max-width: 768px) {
        &--extra-lg {
            font-size: 54px;
        }
    }

    @media (max-width: 480px) {
        &--extra-lg {
            font-size: 40px;
        }

        &--lg {
            font-size: 40px;
        }

        &--sm {
            font-size: 24px;
        }
    }
}