.title-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__wrapper {
        display: flex;

        &.-responsive {
            flex-direction: row;
            align-items: flex-end;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 20px;
        }

        &.-centered {
            justify-content: center;
        }

        &.splide__arrows {
            position: relative;

            .splide__arrow {
                background-color: transparent;
                width: 24px;
                height: 24px;
                display: none;
            }

            .splide__arrow--prev {
                left: 0;
            }

            .splide__arrow--next {
                right: 0;
            }

            .splide__arrow:hover:not(:disabled) {
                opacity: .7;
            }

            @media (max-width: 991px) {
                .splide__arrow {
                    display: block;
                }
            } 
        }
    }

    .title + .text {
        margin-top: 20px;
    }
}