* {
    font-family: 'OktaNeue', sans-serif;
}

body {
    background-color: $white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.page-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    flex-grow: 1;
}

.section {
    padding-top: 150px;
    padding-bottom: 150px;

    @media (max-width: 768px) {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    @media (max-width: 360px) {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}
