.header {
    min-height: 89px;

    &-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &-logo {
        display: flex;
        align-items: center;
        gap: 15px;
        color: $black;
        font-size: 30px;
        line-height: 36px;
        text-decoration: none;
    }

    &-controls {
        display: flex;
        gap: 10px;
    }

    .navbar {
        padding: 24px 0;
    }
    
    .navbar-brand {
        padding: 0;
        height: 41px;
    }

    .navbar-toggler {
        background-color: $black;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 4px;
        box-shadow: none;

        span {
            height: 2px;
            width: 20px;
            background-color: $white;
            border-radius: 1px;
        }

        @media (max-width: 990px) {
            display: flex;
        }
    }

    .navbar-nav {
        .nav-item {
            .nav-link {
                transition: color .3s;
                font-size: 18px;
                line-height: 120%;
                font-weight: normal;
                color: $black;
                padding: 10px 15px;

                &.active {
                    color: $orange;
                }

                &:hover {
                    color: $orange;
                }
            }

            .dropdown-menu {
                background-color: $white;

                .dropdown-item {
                    font-size: 16px;
                    line-height: 22px;
                    font-weight: 500;
                    color: $black;

                    &.active {
                        background-color: $white;
                        color: $orange;
                    }
    
                    &:hover {
                        background-color: $white;
                        color: $orange;
                    }

                    &:focus-visible {
                        outline: none;
                    }
                }
            }
        }
    }
}