.header {
    min-height: 89px;

    &-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &-logo {
        display: flex;
        align-items: center;
        gap: 15px;
        color: $black;
        font-size: 30px;
        line-height: 36px;
        text-decoration: none;
    }

    &-controls {
        display: flex;
        gap: 10px;
    }

    .navbar {
        padding: 24px 0;
    }

    .navbar-brand {
        padding: 0;
        height: 41px;
    }

    .navbar-toggler {
        background-color: $black;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 4px;
        box-shadow: none;

        span {
            height: 2px;
            width: 20px;
            background-color: $white;
            border-radius: 1px;
        }

        @media (max-width: 990px) {
            display: flex;
        }
    }

    .navbar-nav {
        .nav-item {
            .nav-link {
                transition: color .3s;
                font-size: 18px;
                line-height: 120%;
                font-weight: normal;
                color: $black;
                padding: 10px 15px;

                &.active {
                    color: $orange;
                }

                &:hover {
                    color: $orange;
                }

                &.dropdown-toggle {
                    &::after {
                        border-top: 8px solid;
                        border-right: 4px solid transparent;
                        border-left: 4px solid transparent;
                        vertical-align: 2px;
                        margin-left: 2px;
                    }

                    &.show {
                        color: $orange;

                        &::after {
                            transform: rotate(180deg);
                            border-top: 8px solid;
                            border-right: 4px solid transparent;
                            border-left: 4px solid transparent;
                        }
                    }
                }
            }

            .dropdown-menu {
                background-color: $white;
                padding: 10px;
                border-radius: 20px;
                margin-top: 30px;

                .dropdown-item {
                    font-size: 16px;
                    line-height: 24px;
                    font-weight: 500;
                    color: $black;
                    border-radius: 10px;
                    display: flex;
                    align-items: center;
                    min-height: 40px;

                    &.active {
                        background-color: $orange;
                        color: $white;
                    }

                    &:hover {
                        background-color: $orange;
                        color: $white;
                    }

                    &:focus-visible {
                        outline: none;
                    }
                }

                @media (max-width: 990px) {
                    margin-top: 0;
                    box-shadow: none;
                }
            }
        }
    }
}